header {
  background-color: #333;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
}

header > nav#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100px;
}

header > nav#navbar > .nav-brand > h1 {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-size: 2rem;
}

header > nav#navbar .nav-brand {
  display: flex;
  align-items: center;

  gap: 1rem;
}

header > nav#navbar > .nav-brand > img {
  width: 75px;
}

header > nav#navbar > ul.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}

header > nav#navbar > ul.nav-list > li > a {
  color: #ccc;
  font: 1.5rem;
  transition: color 0.3s;
}

header > nav#navbar > ul.nav-list > li > a:hover {
  color: white;
  transition: color 0.3s;
}
